c-white = #fff
c-background = #f3f4eb
c-strong = #412917
c-border = #cbc5c0
c-gray = #dedede

.fa-grip
  background-color c-background
  border-color c-gray
  border-style solid
  border-width 0pt 1px 1px
  cursor s-resize
  height 9px
  overflow hidden

  &:active
    border-color c-border

.fa-textarea-resizing
  color c-white
  background-color c-strong
  opacity 0.5
