c-background = #f3f4eb
c-gray = #dedede

.fa-grip,
.fa-grip:before,
.fa-grip:after
  background-color c-background
  border-color c-gray
  border-style solid
  border-width 0pt 1px 1px
  cursor s-resize
  cursor grab
  cursor -webkit-grab
  overflow hidden

.fa-grip
  height 9px

.fa-grip:before,
.fa-grip:after
  content ''
  display block
  height 3px

.fa-textarea
  display block
  resize none

.fa-textarea-resizing
  opacity 0.75
  cursor s-resize
  cursor grabbing
  cursor -webkit-grabbing
